.widget-container {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.form-container {
    border: 0.2px solid lightgrey; 
    padding: 10px;
    height: auto;
    width: 100%;
}